h1{
    margin: 0;
}
p{
    margin: 0;
}
.header{
    &--interface{
        display: flex;
        justify-content: space-between;
        margin: 16px 16px 0 16px;
    }
    &--couvaison{
        padding-left: 80px;
        .title--medium{
            padding: 0;
        }

    }
}
.hidden{
    display: none; 
}
.main{
    display: grid;
    grid-template-columns: 238px auto;
    margin: 0 16px 16px 16px;
}
.title{
    margin: 0;
    &--logo{
        svg{
            height: 64px;
        }
    }
    &--medium{
        padding-bottom: 32px;
    }
    &--small{
        padding-bottom: 8px;
    }
}
.btn{
    &--small{
        height: 64px;
        width: 64px;
        svg{
            height: 32px;
        }
    }
    &--large{
        display: block;
        width: 112px;
        height: 112px;
    }
    &--main{
        position: absolute;
        overflow: hidden;
        &__add{
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &__close{
            right: 0;
        }
        &__check{
            bottom: 0;
            right: 0;
        }
    }
    &--message{
        position: absolute;
        overflow: hidden;
        &__ok{
            bottom: 32px;
            right: 32px;
        }
        &__close{
            top: 32px;
            right: 32px;
        }
    }
}
.param{
    padding: 0;
    margin: 0;
    &--el{
        margin-top: 16px;
        padding: 16px;
        position: relative;
    }
    &--icone{
        width: 64px;
        height: 64px;
        position: relative;
        box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.15) inset;
        display: inline-block;
        margin-right: 16px;
        svg{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-39%, -44%);
        }

    }
    &--data{
        display: inline-block;
        transform: translateY(-4px);
        padding-right: 40px;
        .text--minus{
            padding-bottom: 31px;
        }
    }
    &--more{
        position: absolute;
        right: 16px;
    }
}  
.couvaison{
    padding: 16px;
    margin: 16px 0 0 16px;
    &--display{
        position: relative; 
        height: 100%;
    }
    &--create{
        position: relative; 
        height: 100%;
    }
    &--resume{
        position: relative;
        height: 100%;
    }
}
.form{
    &--name{
        input{
            padding: 16px;
            margin-bottom: 16px;
        }
    }
}
.species{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 16px;
    row-gap: 16px;
    margin: 0 96px 0 0;
    padding: 0;
    position: relative;
    &--el{
        input{
            position: absolute;
        }
        label{
            height: 64px;
            width: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            p{
                padding: 8px;
                margin: auto;
            }
        }
    }
}
.messageError{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    &--case{
        max-width: 1000px;
        padding: 32px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p{
            padding: 96px 0;
        }
    }
}
.step{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    &--el{
        .title--mini{
            padding: 16px 0;
        }
    }
    &--text{
        padding: 48px 0;
        position: relative;
    }
}
#container{
    width: 160px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}