$c-whiteYellow: #FFFCF5;
$c-beige: #FEF8E6;
$c-beigeDark: #FCEBB9;
$c-yellowLight: #FADE8C;
$c-yellow: #F2b705;
$c-brun: #281e01;
$c-green: #559951;
$c-red: #E23232;

$f-typo: 'IBM Plex Sans', sans-serif;
$f-logo: 'Quicksand', sans-serif;

$s-text: 16px;
$s-minus: 13px;
$s-medium: 20px;
$s-big: 25px;
$s-large: 31px;
$s-mega: 61px;
$s-extra: 95px;

$line-height: 1.5;

$w-light: 300;
$w-bold: 450;

$screen-w: 1024px;
$screen-h: 600px;
$screen-lg: 1000px;
$screen-xl: 1200px;

